svg.scplt {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #555;
	shape-rendering: crispEdges;
}

.node circle{
    fill: steelblue;
    stroke-width: 1px;
    opacity: 0.7;
}

.node text{
    fill: #555;
    stroke-width: none;
}

.link {
    stroke: #888;
    stroke-width: 1px;
}
